@import url('http://fonts.googleapis.com/css/family=Quicksand:400,500&subset=latin-ext');
body{
    padding: 80px;
    background-image: url(../img/bg.jpg);
    text-align: center;
    position: cover;
    font-family: 'Quicksand', sans-serif;
}

ul{
    margin-left: -45px;
}

li{
    list-style: none;
    display: inline-block;
}

.main{
    width: 1200px;
    height: 790px;
    background-color: #ace3ec;
    margin: 0 auto;
    padding-top: 10px;
    border-radius: 10px;
    border: 1px solid #eeeeee}

.img{
    background-image: url(../img/profile.JPG);
    background-color: #eaeaea;
    background-size: cover;
    border-radius: 200px;
    width: 250px;
    height: 250px;
    margin: 0 auto;
    border: 1px solid #eaeaea;
}
h1{
    text-align: center;
    font-size: 30px;
    margin: 0;
    font-weight: bold;
    color: #6944ff;
}

.text {
    text-align: center;
    font-size: 15px;
    margin: 0;
    color: #324e63;
    padding-bottom: 10px;
}
p {
    margin: 0 auto;
    padding-top: 20px;
    width: 450px;
    height: auto;
    color: #324e63;
}
.flip-card {
    background-color: transparent;
    width: 1200px;
    height: 400px;
    border: 1px solid #f1f1f1;
    perspective: 1000px;
  }
  
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  
  .flip-card-front {
    background-color: #ffe3ed;
    color: black;
  }
  
  .flip-card-back {
    background-color: #ace3ec;
    color: white;
    transform: rotateY(180deg);
  }
  .label {
    color: blue;
    padding: 25px;
    margin-right: 1200px;
  }
  .card{
    background-color: blue;
  }